<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
<style>
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid black;
  }

  main > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  p {
    margin-top: 1rem;
  }
</style>
