<% for(let i=0; i< messages.length; i++) { %>
<div class="message-container">
  <h4><%= messages[i].user.full_name %></h4>
  <h4>
    Posted: <%= messages[i].timestamp.toLocaleDateString('en-us', {
    weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
  </h4>
  <p><%= messages[i].text %></p>
</div>
<% } %>
