<% if (user) { %>
  <h3>Welcome <%= user.full_name %></h3>
<% } else { %>
  <h3>Not Logged In</h3>
<% } %>
<% if (user) {%>
  <button><a href="/new-message">Create New Message</a></button>
<% } %>
<% for(let i=0; i< messages.length; i++) { %>
<div class="message-container">
  <% if (user) { %>
    <h4><%= messages[i].user.full_name %></h4>
  <% } else { %>
    <h4>Anonymous</h4>
  <% } %>
  <h4>
    Posted: <%= messages[i].timestamp.toLocaleDateString('en-us', {
    weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
  </h4>
  <p><%= messages[i].text %></p>
</div>
<% } %>
