<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header class="flex"><%- include('partials/nav.ejs') %></header>
    <main>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="email">Email</label>
        <input name="email" placeholder="Email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="text" />
        <button>Log In</button>
      </form>
    </main>
  </body>
</html>
